<% layout('layouts/boilerplate') %>

<body>
  <div class="row mt-3">
    <div class="card col" style="width: 18rem;">
    <img src="<%= list.image %>" class="card-img-top show-img" alt="place image">
    <div class="card-body">
      <h5 class="card-title mt-2"><%= list.title %></h5>
      <p class="card-text"><%= list.description %></p>
      <p class="card-text">&#8377; <%= list.price.toLocaleString('en-IN') %></p>
      <p class="card-text"><%= list.location %></p>
      <p class="card-text"><%= list.country %></p>
      <a href="/listing/<%= list._id %>/edit" class="btn btn-primary">Edit the post</a>
      <form method="POST" action="/listing/<%= list._id %>?_method=DELETE">
        <button class="btn btn-primary mt-2">Delete the post</button>
      </form>
    </div>
  </div>
  </div>
</body>