<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Quora</title>
</head>

<body>
  <div class="container">
    <h1>Quora</h1>
    <div class="cards">
      <% for(post of posts) { %>
      <div class="card">
        <div class="col-1">
          <h2><%= post.username %></h2>
          <h3><%= post.content %></h3>
          <a href="http://localhost:3000/posts/<%= post.id %>">view more...</a>
        </div>
        <div class="col-2">
          <button class="edit"><a href="http://localhost:3000/posts/<%= post.id %>/edit">Edit</a></button>
          <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button class="delete">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
      <button><a href="http://localhost:3000/posts/new">Create a post</a></button>
    </div>
  </div>
</body>

</html>